@page
@model FeedbackWebApp.Pages.AddPlaceModel
@{
    ViewData["Title"] = "Add new Place";
    HttpRequests req = new HttpRequests();
    List<PlaceType> types = new List<PlaceType>();
    types = await req.GetPlaceTypesAsync();
}

<div class="loginDiv">
    <h2>Add new Place</h2>
    <form method="POST">
        <label class="labelMargin">Name of the place: </label>
        <br />
        <input class="textBLogin" type="text" name="placeName" value="" />
        <br />
        <label class="labelMargin">Street & Number: </label>
        <br />
        <input class="textBLogin" type="text" name="street" value="" />
        <br />
        <label class="labelMargin">ZipCode: </label>
        <br />
        <input class="textBLogin" type="text" name="zipCode" value="" />
        <br />
        <label class="labelMargin">City: </label>
        <br />
        <input class="textBLogin" type="text" name="city" value="" />
        <br />
        <label class="labelMargin">Country: </label>
        <br />
        <input class="textBLogin" type="text" name="country" value="" />
        <br />
        <label class="labelMargin">Type of place: </label>
        <select class="textBLogin" name="placetypes">
            @foreach (PlaceType t in types)
            {
                <option name="@t.Id">@t.Name</option>
            }
        </select>
        <br />
        <label class="labelMargin">Opening Times: </label>
        <br />
        <div style="text-align:center">
            <label>Monday: </label>
            <div class="times">
                <label>open: </label><input name="Open0" type="time" /> <label>close: </label><input name="Close0" type="time" />
            </div>
            <br />
            <label>Tuesday: </label>
            <div class="times">
                <label>open: </label><input name="Open1" type="time" /> <label>close: </label><input name="Close1" type="time" />
            </div>
            <br />
            <label>Wednesday: </label>
            <div class="times">
                <label>open: </label><input name="Open2" type="time" /> <label>close: </label><input name="Close2" type="time" />
            </div>
            <br />
            <label>Thursday: </label>
            <div class="times">
                <label>open: </label><input name="Open3" type="time" /> <label>close: </label><input name="Close3" type="time" />
            </div>
            <br />
            <label>Friday: </label>
            <div class="times">
                <label>open: </label><input name="Open4" type="time" /> <label>close: </label><input name="Close4" type="time" />
            </div>
            <br />
            <label>Saturday: </label>
            <div class="times">
                <label>open: </label><input name="Open5" type="time" /> <label>close: </label><input name="Close5" type="time" />
            </div>
            <br />
            <label>Sunday: </label>
            <div class="times">
                <label>open: </label><input name="Open6" type="time" /> <label>close: </label><input name="Close6" type="time" />
            </div>
            <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px;
            text-align: center;margin-top: 10px;background-color: #555555;cursor: pointer;margin-left:20px" asp-page-handler="" value="Create new place">
        </div>
    </form>
    
</div>

