@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="loginDiv">
    <form action="/" method="post">
        <label>username: </label>
        <br />
        <input class="textBLogin" type="text" name="username" value="" />
        <br />
        <label>password: </label>
        <br />
        <input class="textBLogin" type="password" name="pwd" value="" />
        <br />
        <br />
        <button class="btnLogin" onclick="LogIn()">Log In</button>
        <button class="btnLogin">Log In As Guest</button>
    </form>

</div>
<p>Or <a asp-page="/SignUp">sign up</a> if you don't have an account already</p>
