@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
    HttpRequests req = new HttpRequests();
}

<h1>Login</h1>
<div class="loginDiv">
    <form method="POST">
        <label for="Username">username: </label>
        <br />
        <input class="textBLogin" type="text" name="Username" value="" />
        <br />
        <label for="Password">password: </label>
        <br />
        <input class="textBLogin" type="password" name="Password" value="" />
        <br />
        <br />
        <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px; margin-bottom: 3px;
            text-align: center;background-color: #555555;cursor: pointer" asp-page-handler="LogIn" value="Log In">
        <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px;
            text-align: center;background-color: #555555;cursor: pointer" asp-page-handler="Guest" value="Log In As Guest">
    </form>
</div>
<br />
<p>Or <a asp-page="/SignUp">sign up</a> if you don't have an account already</p>
