@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="loginDiv">
    <form method="POST">
        <label>username: </label>
        <br />
        <input class="textBLogin" type="text" name="username" value="" />
        <br />
        <label>password: </label>
        <br />
        <input class="textBLogin" type="password" name="pwd" value="" />
        <br />
        <br />
        <input type="submit" class="btnLogin" asp-page-handler="LogIn" value="Log In">
        <input type="submit" class="btnLogin" asp-page-handler="Guest" value="Log In As Guest">
    </form>
</div>
<br />
<p>Or <a asp-page="/SignUp">sign up</a> if you don't have an account already</p>
