@page
@model ContactModel
@{
    ViewData["Title"] = "All Types of Places";
    HttpRequests req = new HttpRequests();
    List<PlaceType> types = await req.GetPlaceTypesAsync(BaseController.GetToken());
    //BaseController.GetUser().Role = "Admin";    // Nur zum Testen
}
<h1>@Model.ViewData["Title"]</h1>
<div class="container">
    @foreach (PlaceType t in types)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 style="display:inline-block; margin-right: 58%"> @t.Name</h3>
                @if (BaseController.GetUser().Role == "Admin")
                { 
                    <a asp-page="/UpdatePlaceType" asp-route-id="@t.Id">
                        <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px;
                     text-align: center;margin-bottom: 10px;float: right;background-color: #555555;cursor: pointer;margin-right:3px; margin-top:12px" asp-page="" name="editBtn" value="Edit / Delete Type">
                    </a>
                }

            </div>
        </div>

    }
    
</div>
