@page
@model FeedbackWebApp.Pages.SignUpModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="loginDiv">
    <h1>SignUp</h1>
    <form action="/" method="post">
        <label>Username:*</label>
        <br />
        <input class="textBLogin" type="text" name="username" value="" />
        <br />
        <label>Firstname:*</label>
        <br />
        <input class="textBLogin" type="text" name="fn" value="" />
        <br />
        <label>Lastname:*</label>
        <br />
        <input class="textBLogin" type="text" name="ln" value="" />
        <br />
        <label>Password:*</label>
        <br />
        <input class="textBLogin" type="text" name="pwd" value="" />
        <br />
        <label>Confirm password:*</label>
        <br />
        <input class="textBLogin" type="text" name="pwdC" value="" />
        <br />
        <input type="checkbox" name="check" />
        <p name="check" style="display:inline-block">I agree and have read the <a>privacy policy</a></p>
        <br />

    </form>
    <button class="btnLogin" onclick="LogIn()">Sign Up</button>
</div>