@page
@model FeedbackWebApp.Pages.SignUpModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="loginDiv">
    <h1>SignUp</h1>
    <form method="POST">
        <label>Username:*</label>
        <br />
        <input class="textBLogin" type="text" name="username" value="" />
        <br />
        <label>Firstname:*</label>
        <br />
        <input class="textBLogin" type="text" name="fn" value="" />
        <br />
        <label>Lastname:*</label>
        <br />
        <input class="textBLogin" type="text" name="ln" value="" />
        <br />
        <label>Password:*</label>
        <br />
        <input class="textBLogin" type="password" name="pwd" value="" />
        <br />
        <label>Description</label>
        <br />
        <input class="textBLogin" type="text" name="description" value="" />
        <br />
        <label class="labelMargin">Street & Number: </label>
        <br />
        <input class="textBLogin" type="text" name="street" value="" />
        <br />
        <label class="labelMargin">ZipCode: </label>
        <br />
        <input class="textBLogin" type="text" name="zipCode" value="" />
        <br />
        <label class="labelMargin">City: </label>
        <br />
        <input class="textBLogin" type="text" name="city" value="" />
        <br />
        <label class="labelMargin">Country: </label>
        <br />
        <input class="textBLogin" type="text" name="country" value="" />
        <br />
        @*<input type="checkbox" name="check" />
        <p name="check" style="display:inline-block">I agree and have read the <a>privacy policy</a></p>
        <br />*@
        <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px;
            text-align: center;background-color: #555555;cursor: pointer" asp-page-handler="" value="Sign Up">
    </form>
</div>