h1 {
    text-align: center;
}

.loginDiv{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.textBLogin {
    width: 100%;
    margin-bottom:10px;
}

.btnLogin {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.rating .glyphicon{
    font-size: 20px;
}
.iStar {
    font-size: 18px;
}
.labelMargin{
    margin-top: 10px;
}
#btnAdPlace {
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    margin-bottom: 10px;
    float: right;
    background-color: #555555;
    cursor: pointer;
}

#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}

#dialogbox {
    display: none;
    position: fixed;
    background: #000;
    border-radius: 7px;
    width: 550px;
    z-index: 10;
}

#dialogbox > div {
        background: #FFF;
        margin: 8px; }
#dialogbox > div > #dialogboxhead {
            background: #666;
            font-size: 19px;
            padding: 10px;
            color: #CCC; }

#dialogbox > div > #dialogboxbody {
            background: #333;
            padding: 20px;
            color: #FFF; }
#dialogbox > div > #dialogboxfoot {
            background: #666;
            padding: 10px;
            text-align: right;}

